@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import 'tailwindcss';

/* DaisyUI Configuration */
@plugin "daisyui" {
  themes: light --default, dark;
}

* {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Light Theme - Airy & Clean */
@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-base-100: #ffffff;
  --color-base-200: #fff8f8; /* Very light red tint for sections */
  --color-base-300: #fceeee; /* For borders/dividers */
  --color-base-content: #1a1a1a;
  --color-primary: #ef4444;
  --color-primary-content: #ffffff;
}

/* Night Theme - Deep Ruby Velvet */
@plugin "daisyui/theme" {
  name: 'dark';
  --color-base-100: #0d0a0b;
  --color-base-200: #141011;
  --color-base-300: #1f1a1b;

  --color-base-content: #e2e8f0;

  --color-primary: #dc2626;
  --color-primary-content: #ffffff;

  --color-secondary: #9f1239;

  /* Accents */
  --color-accent: #f43f5e;
  --color-neutral: #1c1917;
}

.conCls {
  @apply container mx-auto px-[3%] md:px-0;
}
